name: Node.js CI

on: [push]

jobs:
  build:
    strategy:
      matrix:
        node-version: [ 18, 20, 22, 24 ]
        os: [ macos-14, windows-latest, ubuntu-22.04, ubuntu-24.04 ]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm run build --if-present
      - run: npm pack
